@mixin input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;

  &__text {
    input,
    textarea {
      @include input;
    }
  }
  &__checkbox {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    margin: 8px 0;

    .form-check-input {
      margin: 0;
      padding: 0;
    }
  }
  &__file {
    display: block;
  }
}

input {
  @include input;
}

body .rjf-form-group-wrapper {
  max-width: 100%;

  select {
    @include input;
  }

  .rjf-form-row .rjf-form-row-inner div {
    display: flex;

    .rjf-input-group {
      flex: 1;
      margin-right: 10px;
    }
  }

  .rjf-form-group-inner {
    background-color: var(--color-brand-100);
  }
  .rjf-form-row-controls {
    top: 8px;
  }
}
