.icon {
  width: 32px;
  height: 32px;
  fill: var(--color-brand-500);

  &.icon--sm {
    width: 24px;
    height: 24px;
  }

  &.icon--md {
    width: 42px;
    height: 42px;
  }

  &.icon--lg {
    width: 56px;
    height: 56px;
  }
}
