.talent-list {
  display: flex;
  flex-wrap: wrap;
  a {
    text-decoration: none;
  }
}
.talent-box {
  @extend .p-3;
  @extend .mb-4;
  @extend .rounded;
  background-color: var(--color-brand-200);
}
.card {
  border: none;
  flex: 0 0 calc(100% - 8px);
  margin: 8px;

  .card__header {
    color: var(--color-brand-700);
    padding: 0;
    border-radius: 3px 3px 0 0;
  }
}
.card .image {
  border-radius: 100%;
}
.skills {
  .skills__item {
    font-size: 0.8rem;
    color: var(--color-brand-700);
    border-radius: 3px;
    text-transform: uppercase;

    &:after {
      content: ", ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}
@media (min-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 8px);

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
