{% extends 'index.html' %}

{% block content %}
<main class="main">
  <section class="bg-brand-100">
    <div class="container py-5">
      <h1 class="text-center">My Jobs</h1>
    </div>
  </section>
  <section class="bg-brand-50">
    <div class="container py-5">
      <a class="btn btj-primary" href="{% url 'add-job' %}">Add a Job</a>
    </div>
  </section>
  <section class="bg-brand-50">
    {% for job in jobs %}
    <a href="{% url 'job' job.id %}" class="card p-3">
      <div class="d-flex align-items-start">
        <div class="w-100">
          <div class="card__header">
            <h5 class="mb-0 mt-0">Job</h5>
            <span>{{ job.title }}</span>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </section>
</main>
{% endblock %}