{% load static %}
<!-- Mobile Navigation -->
<nav class="d-lg-none navbar bg-light fixed-top">
  <div class="container-fluid">
    {% include './brand.html' %}
    <button class="navbar-toggler profile-menu" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      {% if request.user.is_authenticated %}
      <span class="profile-menu">
        {% if request.user.is_superuser %}
        <img class="no-headshot" src="{% static 'assets/images/avatar.png' %}" />
        {% else %}
        <img src="media/{{ user.talent.image }}" />
        {% endif %}
      </span>
      {% else %}
      Menu
      {% endif %}
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Logout</a>
          </li>
        </ul>
        <hr />
        <ul class="navbar-nav flex-grow-1 pe-3">
          {% include './site-links.html' %}
        </ul>
      </div>
    </div>
  </div>
</nav>