<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="#">Jobs</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'talents' %}">Talent</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="#">Employers</a>
</li>