<li class="nav-item">
  <a class="nav-link active" aria-label="Link to Home Page" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-label="Link to About Page" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-label="Link to Jobs Page" href="{% url 'job-list' %}">Jobs</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-label="Link to Talent Page" href="{% url 'talents' %}">Talent</a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-label="Link to Employers Page" href="{% url 'employers' %}">Employers</a>
</li>
