asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
distlib==0.3.8
Django==5.0.3
django-allauth==0.61.1
filelock==3.13.1
idna==3.6
numpy==1.26.4
oauthlib==3.2.2
pep8==1.7.1
platformdirs==4.2.0
pycparser==2.21
pyint==1.1.0
PyJWT==2.8.0
pyperclip==1.8.2
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
sqlparse==0.4.4
urllib3==2.2.1
virtualenv==20.25.1
