<footer class="bg-brand-800">
  <div class="container p-4">
    <ul class="nav justify-content-center mb-4">
      <li class="nav-item">
        <a href="{% url 'contact' %}" class="nav-link text-light">Contact</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'about' %}" class="nav-link text-light">About Us</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'privacy' %}" class="nav-link text-light">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'terms' %}" class="nav-link text-light">Terms of Service</a>
      </li>
    </ul>
    <p class="text-center text-light m-0">&copy; 2024 All rights reserved Remote Forge</p>
  </div>
</footer>
