form {
  button[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
}

.errorlist {
  list-style-type: none;
  background-color: $danger;
  color: white;
  @extend .p-2;
  @extend .rounded-2;
}
