form {
  button[type='submit'] {
    @extend .btn;
    @extend .btn-primary;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    width: 100%;
  }
}

.errorlist {
  list-style-type: none;
  background-color: $danger;
  color: white;
  @extend .p-2;
  @extend .rounded-2;
}
