/* Hero Section */
.hero-home {
  padding-top: map-get($spacers, md);
  padding-bottom: map-get($spacers, sm);
}
.left-01,
.left-02,
.left-03,
.left-04,
.right-01,
.right-02,
.right-03,
.right-04 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.left-01 {
  transform: translate(360%, -80%);
  width: 56px;
  display: none;
}
.left-02 {
  transform: translate(-350%, -90%);
  width: 56px;
  display: none;
}
.left-03 {
  transform: translate(-80%, -120%);
  width: 68px;
  height: 68px;
}
.left-04 {
  transform: translate(180%, -140%);
  width: 46px;
}

/* How it Works Section */
.how-it-works {
  text-align: center;
  svg {
    width: 68px;
    height: 68px;
    fill: var(--color-brand-500); /* Add Fills Variables */
    padding: 4px; /* Use Bootsrap */
  }
}
.shape {
  fill: var(--color-brand-500); /* Add Fills Variables */
}

/* Featured Cities */
.city-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 16px; /* Use Bootsrap */

  .city-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: cover;
    background-position: center center;
    border-radius: $border-radius-lg;
    min-height: 120px; /* Use Bootsrap */
    padding: 16px; /* Use Bootsrap */
    text-decoration: none;

    grid-column: span 6;
    grid-row: span 1;
  }

  span {
    @extend .p-2;
    @extend .bg-brand-100;
    @extend .rounded;
    color: var(--color-brand-600);
    line-height: 1;
    font-size: 14px; /* Use Bootsrap */
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
}

/* Talent List */

@media (min-width: 576px) {
  .left-01 {
    transform: translate(420%, -80%);
    width: 56px;
    display: block;
  }
  .left-02 {
    transform: translate(-450%, -90%);
    width: 56px;
    display: block;
  }
  .left-03 {
    transform: translate(-120%, -120%);
    width: 68px;
    height: 68px;
  }
  .left-04 {
    transform: translate(220%, -140%);
    width: 46px;
  }
}

@media (min-width: 768px) {
  .hero-home {
    padding-top: map-get($spacers, md);
    padding-bottom: map-get($spacers, md);
  }
  /* Featured Cities */
  .city-list {
    gap: 32px;

    .city-item:nth-child(1) {
      grid-column: 1 / span 3;
      grid-row: 1 / span 4;
    }
    .city-item:nth-child(2) {
      min-height: 240px;
      grid-column: 4 / span 3;
      grid-row: 1 / span 2;
    }
    .city-item:nth-child(3) {
      min-height: 240px;
      grid-column: 4 / span 3;
      grid-row: 3 / span 2;
    }
    .city-item:nth-child(4),
    .city-item:nth-child(5),
    .city-item:nth-child(6) {
      grid-column: span 2;
      grid-row: 5 / span 2;
    }
  }
}

@media (min-width: 992px) {
  .hero-home {
    padding-top: map-get($spacers, lg);
    padding-bottom: map-get($spacers, lg);
  }
  .left-01 {
    transform: translate(-50%, -140%);
    width: 126px;
  }
  .left-02 {
    transform: translate(100%, -40%);
    width: 90px;
  }
  .left-03 {
    transform: translate(-60%, 10%);
    width: 166px;
    height: 166px;
  }
  .left-04 {
    transform: translate(50%, 130%);
    width: 126px;
  }
  .right-01 {
    transform: translate(-80%, 0%);
    width: 90px;
  }
  .right-02 {
    transform: translate(20%, -130%);
    width: 126px;
  }
  .right-03 {
    transform: translate(80%, -20%);
    width: 90px;
    height: 90px;
  }
  .right-04 {
    transform: translate(10%, 80%);
    width: 176px;
  }
}
@media (min-width: 1100px) {
  .right-03 {
    transform: translate(120%, -20%);
  }
}
@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
