$color-brand-50: #f6f9f4;
$color-brand-100: #ecf3e8;
$color-brand-200: #d6e4ce;
$color-brand-500: #6a9255;
$color-brand-700: #455e37;
$color-brand-800: #394c2f;
$color-neutral-50: #f9f9f9;

:root {
  --color-brand-50: #{$color-brand-50};
  --color-brand-100: #{$color-brand-100};
  --color-brand-200: #{$color-brand-200};
  --color-brand-500: #{$color-brand-500};
  --color-brand-700: #{$color-brand-700};
  --color-brand-800: #{$color-brand-800};
  --color-neutral-50: #{$color-neutral-50};
}
