{% extends 'index.html' %}
{% load icon_tags %}

{% block content %}
  <main class="main">
    <section class="bg-brand-100">
      <div class="container py-sm">
        <h1 class="text-center">Jobs</h1>
        <div class="d-flex justify-content-center">
          <form method="GET" action="{% url 'job-list' %}" class="search-form">
            <div class="search-form__group">
              <div class="search-form__field">
                <input type="text" id="keyword" name="keyword" value="{{ keyword }}" placeholder="Find a job" aria-label="Keyword" />
              </div>
              <span class="search-form__divider"></span>
              <div class="search-form__field">
                <input type="text" id="location" name="location" value="{{ location }}" placeholder="Location" aria-label="Location" />
              </div>
              <button type="submit" class="search-form__submit" aria-label="Search Jobs">{% icon 'icon-search' 'sm' %}</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="bg-brand-50">
      <div class="container py-5">
        <div class="d-flex flex-wrap">
          {% for item in data %}
            <a href="{% url 'job' item.job.id %}" class="card p-3 text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="w-100">
                  <div class="card__header">
                    <h3 class="mb-0 mt-0">{{ item.job.title }}</h3>
                    <p>{{ item.employer.company }}</p>
                    <div class="d-flex flex-wrap gap-2">
                      {% if item.job.created_at %}
                        <div class="d-flex align-items-center">
                          {% icon 'icon-date-check' 'sm' %}
                          <p class="m-0 ps-1">Posted on: {{ item.job.created_at|date:'d M Y' }}</p>
                        </div>
                      {% endif %}

                      {% if item.job.city %}
                        <div class="d-flex align-items-center">
                          {% icon 'icon-location' 'sm' %}
                          <p class="m-0 ps-1">
                            {% if item.job.city %}{{ item.job.city }}{% endif %}
                          </p>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}
