{% extends 'index.html' %}

{% block content %}

<div class="container my-4">
  <h1 class="text-center">Best Talent on the Market</h1>
</div>

<section class="bg-brand-100 py-5">
  <div class="container">
    <div class="talent-list">
      {% for talent in talents %}
      <a href="{% url 'talent-profile' talent.id %}" class="card p-3">
        <div class="d-flex align-items-start">
          <div class="image">
            <img src="{{ MEDIA_URL }}{{ talent.image }}" class="rounded-circle" width="80">
          </div>
          <div class="ml-3 w-100">
            <div class="card__header">
              <h5 class="mb-0 mt-0">{{ talent.fname }} {{ talent.lname }}</h5>
              <span>{{ talent.title }}</span>
            </div>
            <div class="skills">
              {% for skill in talent.skills %}
              <span class="skills__item">{{ skill }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}