{% extends 'index.html' %}
{% load static %}
{% load icon_tags %}

{% block content %}
  <section class="bg-brand-100">
    <div class="container py-5">
      <div class="talent-header bg-brand-200 rounded p-4">
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center py-1 gap-2">
            <div class="image">
              {% if talent.image %}
                <img src="{{ MEDIA_URL }}{{ talent.image }}" class="rounded-circle" width="80" />
              {% else %}
                <img src="{% static 'assets/images/avatar.png' %}" class="rounded-circle" width="80" />
              {% endif %}
            </div>
            <p>
              {{ talent.first_name }} {{ talent.last_name }}<br />
              <span>{{ talent.title }}</span>
            </p>
          </div>
          {% if talent.resume %}
            {% if user.is_authenticated and user == talent.user or user.user_type == 'employer' %}
              <a href="{{ MEDIA_URL }}{{ talent.resume }}" class="btn btn-primary" target="_blank">Download CV</a>
            {% else %}
              <a href="#" class="btn btn-primary disabled" tabindex="-1">Download CV</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row">
      <!-- Main Content -->
      <div class="col-md-8">
        <!-- BIO Section -->
        {% if talent.bio %}
          <div class="bio">
            <p>{{ talent.bio }}</p>
          </div>
        {% endif %}
        <!-- Experience Section -->
        {% if talent.experience %}
          <div class="experience">
            <h2>Experience</h2>
            {% for experience in talent.experience %}
              <h3>{{ experience.company_name }}</h3>
              <p>
                {{ experience.start_date }}
                {% if experience.end_date %}
                  - {{ experience.end_date }}
                {% endif %}
              </p>
              <h5>{{ experience.position }}</h5>
              {% if experience.responsibilities %}
                <h4>Responsibilities</h4>
                <p>{{ experience.responsibilities }}</p>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <!-- Education Section -->
        {% if talent.education %}
          <div class="education">
            <h2>Education</h2>
            {% for education in talent.education %}
              <p>{{ education.level }}</p>
              <p>{{ education.status }}</p>
              <p>{{ education.start_date }} - {{ education.end_date }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <!-- Sidebar -->
      <div class="col-md-4">
        <!-- Details Section -->
        {% if talent.city or talent.country or talent.phone %}
          <div class="talent-box">
            <h3>Details</h3>
            <div>
              {% if talent.city or talent.country %}
                <div class="d-flex align-items-center">
                  {% icon 'icon-location' 'sm' %}
                  <p class="m-0 ps-1">
                    {% if talent.city %}{{ talent.city }}{% endif %}
                    {% if talent.city and talent.country %}, {% endif %}
                    {% if talent.country %}{{ talent.country }}{% endif %}
                  </p>
                </div>
              {% endif %}
              {% if talent.phone %}
                <div class="d-flex align-items-center">
                  {% icon 'icon-phone' 'sm' %}
                  <p class="m-0 ps-1">{{ talent.phone }}</p>
                </div>
              {% endif %}
              {% if talent.website %}
                <div class="d-flex align-items-center">
                  {% icon 'icon-web' 'sm' %}
                  <a href="{{ talent.website }}" target="_blank" class="m-0 ps-1">{{ talent.website }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <!-- Social Section -->
        {% if talent.social %}
          <div class="talent-box">
            <h3>Social</h3>
            <div class="skills">
              <div class="d-flex gap-2 py-2">
                {% for link in talent.social %}
                  {% with icon_name='icon-'|add:link.site %}
                    <a class="p-2 bg-brand-100 rounded-1" href="{{ link.url }}" target="_blank" aria-label="{{link.name}} Social Profile">{% icon icon_name 'sm' %}</a>
                  {% endwith %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
        <!-- Skills Section -->
        {% if talent.skills %}
          <div class="talent-box">
            <h3>Skills</h3>
            <div class="skills">
              {% for skill in talent.skills %}
                <span class="skills__item">{{ skill }}</span>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <!-- Interests Section -->
        {% if talent.interests %}
          <div class="talent-box">
            <h3>Interests</h3>
            <div class="interests">{{ talent.interests }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
