{% extends 'index.html' %}

{% block content %}
<main class="main">

  <section class="bg-brand-100">
    <div class="container py-sm">
      <h1>Terms and Conditions</h1>
      <p>This is an example Terms and Conditions page created for the Remote Forge project. This
        website is a project and will never be used commercially.</p>
    </div>
  </section>

  <section class="bg-brand-50">
    <div class="container py-5">
      <h2>Introduction</h2>
      <p>Welcome to Remote Forge! These terms and conditions outline the rules and regulations for the use of our
        website, located at remoteforge.example.com.</p>

      <h2>Acceptance of Terms</h2>
      <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use Remote Forge
        if you do not agree to take all of the terms and conditions stated on this page.</p>

      <h2>Cookies</h2>
      <p>We employ the use of cookies. By accessing Remote Forge, you agreed to use cookies in agreement with the Remote
        Forge's Privacy Policy.</p>

      <h2>License</h2>
      <p>Unless otherwise stated, Remote Forge and/or its licensors own the intellectual property rights for all
        material on Remote Forge. All intellectual property rights are reserved. You may access this from Remote Forge
        for your own personal use subjected to restrictions set in these terms and conditions.</p>

      <h2>User Accounts</h2>
      <p>When you create an account with us, you must provide us information that is accurate, complete, and current at
        all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your
        account on our Service.</p>

      <h2>Job Listings</h2>
      <p>Remote Forge allows companies to post job listings for remote positions. The accuracy and legality of these
        listings are the responsibility of the companies posting them. Remote Forge is not responsible for any errors or
        omissions in the job listings.</p>

      <h2>Termination</h2>
      <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any
        reason whatsoever, including without limitation if you breach the Terms.</p>

      <h2>Changes to These Terms</h2>
      <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
        material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a
        material change will be determined at our sole discretion.</p>

      <h2>Contact Us</h2>
      <p>If you have any questions about these Terms, please contact us at support@remoteforge.example.com.</p>
    </div>
  </section>
</main>
{% endblock %}