<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remote Forge</title>

    {% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    {% endblock %}

    {% block js %}
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    {% endblock %}
</head>

<body>
    {% include './partials/header.html' %}
    {% block content %}{% endblock %}
    {% include './partials/footer.html' %}
</body>

</html>