{% extends 'index.html' %}

{% block content %}
<main class="main">
  <section class="bg-brand-100">
    <div class="container py-5">
      <h1 class="text-center">My Jobs</h1>
    </div>
  </section>
  <section class="bg-brand-50">
    <div class="container py-5">
      <a class="btn btn-primary" href="{% url 'user-job-add' %}">Add a Job</a>
    </div>
  </section>
  <section class="bg-brand-50">
    <div class="container py-5 d-flex flex-wrap">
      {% for job in jobs %}
      <div class="card p-3">
        <div class="d-flex align-items-start">
          <div class="w-100">
            <div class="card__header">
              <h5 class="mb-0 mt-0">Job</h5>
              <span>{{ job.title }}</span>
            </div>
          </div>
          <a href="{% url 'job' job.id %}">View</a>
          <a href="{% url 'user-job-edit' job.id %}">Edit</a>
          <a href="#">Delete</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}